body{
    margin: 0;
    padding : 0;
}

#navigation-container{
position: relative;
background-color: red;
display:flex;
flex-direction: row;
justify-content: space-between;

}
ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    
}
a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-family: "trebuchet MS", arial, Helvetica, sans-serif;
    padding: 5px 15px;
    
    
}
li {
    display: flex;
    flex-direction: row;
    align-items: center;
     color: white;
}
#logo{
float:left
}

